body {
   --accent: #fafafa;
  margin: 0;
  padding: 0;
  background: none;
  color: var(--accent);
  
  
}

#root {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

* {

  -webkit-font-smoothing: antialiased;
}
.main-div{

  height: 85%;
  width: 95%;
}


.add-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 96%;
  width: 93%;
  margin: 0 ;
  overflow-x: scroll;
  border-radius: 25px;

}

.add-ul::-webkit-scrollbar{
  /* border: 2px solid; */
  height: 10px;
  background: rgba(255, 255, 255, 0.158);
  border-radius: 1ex;
  scroll-behavior: smooth;
}


::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.678);
  border-radius: 1ex;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

.add-li,.item-cards {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  height: 70%;
  background: var(--accent);
  margin: 0 10% 0 0;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.add-li,.item-cards{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.541), rgba(255, 255, 255, 0.747));
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1));
  /* backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px); */
  /* border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.192); */ 

}
.add-li:hover,.item-cards:hover{
  scale: 1.05;
}
.add-data{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-butt{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* justify-content: center;
  justify-items: center; */
  border-radius: 10px;
  margin-bottom: 3%;
  margin-top: -13%;
  background: none;
  border: none;
}
/* .add-ul{
  border: 1px solid;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 25px;
} */
.add-li{
  color: white;
  margin-top: 4%;
  padding-top: 4%;
  border-radius: 15px;
  opacity: 1;
}
.add-button{
  height: 70px;
  cursor: pointer;
  transition: 0.2s ease;
}

.add-button-locked{
  height: 70px;
  cursor: pointer;
  transition: 0.2s ease;
  opacity: 0.4;
}
.txt-box{
  margin-top: 10%;
  border-radius: 28px ;
  margin-bottom: 2%;
  border: 1px  rgba(0, 0, 0, 0.274);
  outline: none;
  width: 60%;
  margin-left: 18%;
  background-color: rgba(0, 78, 247, 0.411);
  transition: box-shadow 0.35s;
  padding: 3px;
  font-family: sans-serif;
  font-size: medium;
  color: rgb(0, 0, 0);
 
}
.txt-box::placeholder{
  color: rgb(255, 255, 255); 
  padding-left: 16%;
  font-family: sans-serif;
  font-size: medium;
}
.txt-box:focus-within{
  box-shadow: 0 0 2px rgb(0, 0, 0);
  
}

.item-cards{
  color: rgb(255, 255, 255);
  margin-top: 4%;
  height: 80%;
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
}

.item-div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-icon{
  margin-top:45%;
  height: 50px;
  margin-bottom: 35%;
  transition: 0.2s ease;
  cursor: pointer;
}
.refresh-icon{
  margin-top: 13%;
  height: 20px;
  transition: 0.2s ease;
  cursor: pointer;
}

  .refresh-global{
    border-radius: 100px;
    height: 15px;
    transition: 0.2s ease;
    padding-top: 10px;
  }

.add-button:hover,.refresh-icon:hover,.item-icon:hover,.refresh-global:hover{
  scale: 1.1;
}
.add-button:active,.refresh-icon:active,.item-icon:active,.refresh-global:active{
  scale: 0.9;
}

.box{
  margin-top: 2%;
  height: 15px;
  display: flex;
  cursor: pointer;
  background: #fafafabd;
  padding: 10px 20px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

  background: linear-gradient(135deg, rgba(228, 228, 228, 0.959), rgba(214, 214, 214, 0.767));

}
.box:hover input{
  width: 400px;
}
.box input{
  width: 0;
  outline: none;
  border: none;
  font-size: medium;
  font-weight: bold;
  transition: 0.6s;
  background: transparent;
  margin-bottom: 5px;
}
