body {
   --accent: #fafafa;
  margin: 0;
  padding: 0;
  background: none;
  color: var(--accent);
  
}

#root {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

* {

  -webkit-font-smoothing: antialiased;
}
.main-div{

  height: 85%;
  width: 95%;
}

.add-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 96%;
  width: 93%;
  margin: 0 ;
  overflow-x: scroll;
  border-radius: 25px;
}


::-webkit-scrollbar {
  display: flex;
  /* border: 2px solid; */
  height: 10px;
  width: 12px;
  background: rgba(255, 255, 255, 0.096);
  border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: rgba(252, 224, 224, 0.733);
  border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

.add-li,.item-cards {
  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  height: 70%;
  background: var(--accent);
  margin: 0 10% 0 0;
  border-radius: 15px;
  opacity: 0.94;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.add-data{
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 100%;
}

.add-butt{
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  justify-items: center; */
  margin-left: 31%;
  border-radius: 10px;
  margin-bottom: 8%;
  background: none;
  border: none;
}
/* .add-ul{
  border: 1px solid;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 25px;
} */
.add-li{
  margin-top: 4%;
  padding-top: 4%;
  border-radius: 15px;
  opacity: 0.94;
}
.add-button{
  height: 45px;
  border: 2px solid rgba(0, 0, 0, 0.829);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.2s ease;
}
.txt-box{
  margin-top: 4%;
  border-radius: 28px ;
  margin-bottom: 5%;
  border: 1px  rgba(0, 0, 0, 0.274);
  outline: none;
  font-family: Arial;
  width: 60%;
  margin-left: 18%;
  background-color: rgba(0, 78, 247, 0.137);
  transition: box-shadow 0.35s;
 
}
.txt-box::placeholder{
  color: rgba(0, 0, 0, 0.548); 
  padding-left: 16%;
}
.txt-box:focus-within{
  box-shadow: 0 0 2px rgba(47, 0, 255, 0.767);
  
}

.item-cards{
  color: black;
  margin-top: 4%;
  height: 80%;
  font-weight: bold;
}

.item-div{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-icon{
  margin-top:45%;
  border-radius: 100px;
  height: 50px;
  margin-bottom: 35%;
  border: 2px solid;
  transition: 0.2s ease;
}
.refresh-icon{
  border-radius: 100px;
  margin-top: 8%;
  height: 30px;
  border: 2px solid;
  transition: 0.2s ease;
}
.add-button:hover,.refresh-icon:hover,.item-icon:hover{
  scale: 1.1;
}
.add-button:active,.refresh-icon:active,.item-icon:active{
  scale: 0.9;
}


.box{
  margin-top: 2%;
  height: 15px;
  display: flex;
  cursor: pointer;
  background: #fafafa;
  padding: 10px 20px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

}
.box:hover input{
  width: 400px;
}
.box input{
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}